{% extends "base_qz.html" %}
{% load static i18n sniplates %}

{% block main %}
    <div class="container d-flex flex-grow-1 align-items-center justify-content-around">
        {% comment %}
        <div style='width: 50vw; height: 20rem; position: absolute; top: 1rem; left: 0; border-right: 1px dashed black'></div>
        {% endcomment %}
        <div class='row mt-4'>
        {% for tfeat in object_list %}
            <div class='feature-item col-sm'>
                <div>{{ tfeat.base.icon_code|safe }}</div>
                <span class='accent-colour'>{{ tfeat.cleaned_label }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block footer %} {% load_widgets widgets='sniplates_widgets.html' %}
<h2 class='mb-3'>{% trans 'Downloads' %}</h2>
<div id="downloads" class="container flex-grow-2">
    <div class='d-flex row justify-content-around'>
    {% for build in builds %}
        {% widget "widgets:download_item" build=build %}
    {% empty %}
        <div class='col-md'>{% trans 'No builds is available now!' %}</div>
    {% endfor %}
    </div>
</div>


<div id='links' class='container-sm d-flex justify-content-around align-items-center flex-wrap flex-grow-1'>
    {% trans 'QC:DE Discord' as label %}
    {% widget "widgets:link_item" label=label url=DISCORD_LINK icon_class='discord fab' %}
    {% trans 'Project Wiki' as label %}
    {% widget "widgets:link_item" label=label url='https://github.com/IgeNiaI/Q-Zandronum/wiki' icon_class='atlas fas' %}
    {% trans 'Issue tracker' as label %}
    {% widget "widgets:link_item" label=label url='https://github.com/IgeNiaI/Q-Zandronum/issues' icon_class='bug fas' %}
    {% trans 'Source code' as label %}
    {% widget "widgets:link_item" label=label url='https://github.com/IgeNiaI/Q-Zandronum' icon_class='github fab' %}
</div>
{% endblock footer %}
