{% extends "z-base.html" %}
{% load static i18n %}

{% block main %}
    <div class="container d-flex flex-grow-1 align-items-center justify-content-around">
        {% comment %}
        <div style='width: 50vw; height: 20rem; position: absolute; top: 1rem; left: 0; border-right: 1px dashed black'></div>
        {% endcomment %}
        <div class='row mt-4'>
        {% for tfeat in object_list %}
            <div class='feature-item col-sm'>
                <div>{{ tfeat.base.icon_code|safe }}</div>
                <span class='accent-colour'>{{ tfeat.cleaned_label }}</span>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block footer %}
    <h2 class='mb-3'>{% trans 'Downloads' %}</h2>
    <div id="downloads" class="container flex-grow-2">
        <div class='d-flex row cnt justify-content-between'>
        {% for build in builds %}
            <div class='col-sm build-item shadow border border-secondary mx-4 mb-4 py-4'>
                <h5 class='accent-colour'>{{ build.platform }}</h5>
                <span class='prime-colour'><b>{{ build.version }}</b></span>
            </div>
        {% empty %}
            <div class='col-md'>{% trans 'No builds is available now!' %}</div>
        {% endfor %}
        </div>
    </div>
{% endblock footer %}
