{% load i18n %}
{% comment %}
    This is template for use with django-sniplates package
    https://sniplates.readthedocs.io/en/latest/
{% endcomment %}

{% block link_item %}
<div class='accent-item border shadow m-1'>
    <a href='{{ url }}'{% if title %} title='{{ a_title }}'{% endif %}>
    <div class='d-flex row align-items-center justify-content-start'>
        <i class="fab fa-2x fa-{{ icon_class|default:'link' }} mr-2"></i>
        &nbsp;
        <b>{{ label }}</b>
    </div>
    </a>
</div>
{% endblock link_item %}

{% block download_item %}
<a class='col-sm button build-item shadow hover mx-3 mb-4 p-2'>
    <div class='d-flex justify-content-between align-items-baseline'>
        <h5 class='text-left accent-colour'>
            {% if build.platform.icon_code %}
            <span class='prime-colour'>{{ build.platform.icon_code|safe }}</span>
            {% endif %}
            {{ build.platform }}
        </h5>
        <span>
            <span class='fnt-tiny subcolour'>{% trans 'ver' %}.</span>{{ build.version }}
        </span>
    </div>
    <div class='d-flex prime-colour justify-content-between align-items-baseline'>
        <span>{% if build.has_doomseeker %}
            {% trans 'with doomseeker' %}
            {% else %}
            {% trans 'engine only' %}
            {% endif %}
        </span>
        <span class='fnt-sm'>
            302.4 MB
        </span>

    </div>
    <div class='d-flex subcolour justify-content-between align-items-baseline fnt-sm'>
        <span class='text-truncate mr-3'>69dc825e698c0c02db5d21c60af4223a6dbb6391</span>
        <span>{% now 'd/m/y' %}</span>
    </div>
</a>
{% endblock %}
